<div id="linklist">
  <a id="ll13" href="/en/index.html" title="main"><span>Main</span></a>
  <a id="ll14" href="/en/standart.html" title="standart"><span>Standart</span></a>
  <a id="ll15" href="/en/ourdogs.html" title="our spitz"><span>Our dogs</span></a>
  <a id="ll16" href="/en/puppy.html" title="spitz puppy"><span>Puppy</span></a>
  <a id="ll17" href="/en/photogallery.html" title="Photogallery"><span>Photoalbum</span></a>
  <br>
  <p><a href="mailto:poplavskaya@hotmail.com">
  <img border="0" src="../public/images/mail.jpg" width="150" height="33"></a></p>

  <br>
  &nbsp<a href="http://s05.flagcounter.com/more/Bcn"><img src="http://s05.flagcounter.com/count/Bcn/bg=E6A45D/txt=000000/border=CCCCCC/columns=2/maxflags=100/viewers=0/labels=0/" alt="free counters" border="0"></a>

</div>
